%h2 Note Categories

%table
  %thead
    %tr
      %th Name
      %th
      %th

  %tbody
    - @note_categories.each do |note_category|
      %tr
        %td= link_to note_category.name, note_category
        %td= link_to 'Edit', edit_note_category_path(note_category)
        %td= link_to 'Destroy', note_category, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Note Category', new_note_category_path
